.firstrow {
  display: flex;
  align-items: center;
  justify-content: center;
}
.input {
  margin-bottom: 20px;
}
.row1num {
  margin: 10px;
  padding: 15px 20px 15px 20px;
  border: 2px solid black;
  font-weight: 700;
  border-radius: 10px;
  font-size: larger;
}

.row1num:hover {
  background-color: rgb(110, 110, 110);
}

.result {
  margin-bottom: 10px;
}
