.maindiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* border: 5px solid red; */
  flex-wrap: wrap;
  position: relative;
  top: 90px;
}

.countryCard {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  /* margin-top: 60px; */
  border: 1px solid rgb(222, 220, 220);
  border-radius: 8px;
  flex-direction: column;
  width: 200px;

  /* position: absolute; */
}

.img {
  width: 100px;
  height: 100px;
}

.input {
  width: 80vw;
  height: 5vh;
  /* display: flex; */
  /* position: relative; */
  margin-top: 15px;
  margin-bottom: 15px;
  position: absolute;
  top: 10px; /* Align it 15px from the top */
  left: 50%; /* Center it horizontally */
  transform: translateX(-50%);
}
